{% extends 'base.html' %}

{% block title %}Edit Tag{% endblock %}

{% block content %}

<!-- Heading for editing a tag -->
<h1>Edit a tag</h1>

<!-- Form for editing a tag, using POST method with action to update the tag -->
<form method="POST" action="/tags/{{ tag.id }}/edit">

  <!-- Form group for the tag name -->
  <div class="form-group row">
    <label for="name" class="col-sm-2 col-form-label d-flex align-items-center">
      Name
    </label>
    <div class="col-sm-10">
      <!-- Input field for editing the tag name with the current value -->
      <input type="text" 
             class="form-control" 
             id="name" 
             name="name" 
             placeholder="Enter a name for the tag"
             value="{{ tag.name }}">
    </div>
  </div>

  <!-- Form group for selecting posts using checkboxes -->
  <div class="form-group row form-check">
    <!-- Iterate over available posts -->
    {% for post in posts %}
    <div>
      <!-- Checkbox for each post with its corresponding label -->
      <input
              class="form-input"
              type="checkbox"
              value="{{ post.id }}"
              id="post_{{ post.id }}"
              name="posts"
              <!-- Check if the post is associated with the tag and mark the checkbox as checked -->
              {% if post in tag.posts %}
              checked
              {% endif %}
      >
      <label class="form-check-label" for="post_{{ post.id }}">
        {{ post.title }}
      </label>
    </div>
    {% endfor %}
  </div>

  <!-- Form group for Cancel and Edit buttons -->
  <div class="mt-3 form-group row">
    <div class="ml-auto mr-3">
      <!-- Cancel button to return to the tags index -->
      <a href="/tags" class="btn btn-info">Cancel</a>
      <!-- Edit button to submit the form and update the tag -->
      <button type="submit" class="btn btn-success">Edit</button>
    </div>
  </div>

</form>

{% endblock %}
