{% extends 'base.html' %}

{% block title %}{{ tag.name }}{% endblock %}

{% block content %}

<!-- Heading displaying the name of the tag -->
<h1>{{ tag.name }}</h1>

<!-- Unordered list to display posts associated with the tag -->
<ul>
  <!-- Iterate over each post associated with the tag -->
  {% for post in tag.posts %}
    <!-- List item with a link to the detailed view of the post -->
    <li><a href="/posts/{{ post.id }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>

<!-- Form for Edit and Delete actions -->
<form>
  <!-- Edit button to go to the edit page for the current tag -->
  <button formmethod="GET"
          formaction="/tags/{{ tag.id }}/edit"
          class="btn btn-primary">Edit
  </button>
  
  <!-- Delete button to submit a form to delete the current tag -->
  <button formmethod="POST"
          formaction="/tags/{{ tag.id }}/delete"
          class="btn btn-danger">Delete
  </button>

</form>
{% endblock %}
